{% extends 'base.html' %}
{% load static %}
{% block unauth %}
{% load crispy_forms_tags %}
<br><br>
<div class="container">
        <div class="row">
            <div class="col-lg-0">
                <div class="" >

               </div>
            </div>

            <div class="col-lg-12">
                <div class="box-element" >
                     <a class="btn btn-sm btn-success" href="{% url 'home' %}">Back</a>
                    <form method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                                <div class="form-row">

                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.pdf_file| as_crispy_field }}
                                    </div>

                                </div>
                       <button type="submit" class="btn-sm btn-success">Upload</button>
                    </form>

                    <hr>
               </div>
            </div>

            <div class="col-lg-0">
                <div class="" >

               </div>
            </div>
        </div>
</div>
{% endblock %}